{{ define "main" }}
  <main>
    <h2>{{ .Title }}</h2>
    {{ range .Pages }}
      <p>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a> &vert;
        {{ .Date.Format "2006-01-02" }} &vert; {{ .WordCount }} words<br />
        {{ .Summary | truncate 160 }}
      </p>
    {{ end }}
  </main>
{{ end }}
{{ define "footer" }}
  <hr />
  <nav>
    <a href="/topics/">Index</a> &vert;
    <a
      target="_blank"
      href="https://www.google.com/search?q=site%3Amarkpaulayers.com"
      >Search</a
    >
  </nav>
  <p><a href="/">&hellip;</a></p>
  <p>
    <a property="dct:title" rel="cc:attributionURL" href="{{ .RelPermalink }}"
      >{{ .Site.Title }}</a
    >
    is &copy;{{ now.Format "2006" }} by
    <a
      property="cc:attributionName"
      rel="cc:attributionURL dct:creator"
      href="/about/"
      >Mark Ayers</a
    >
    and is licensed to you
    <a
      target="_blank"
      rel="license noopener noreferrer"
      style="display: inline-block"
      href="http://creativecommons.org/licenses/by/4.0/"
      >CC BY 4.0</a
    >.
  </p>
{{ end }}
