{{ define "title" }}
  {{ .Title }} &vert;
  {{ .Site.Title }}
{{ end }}
{{ define "main" }}
  <main>
    <header>
      <h2>{{ .Title }}</h2>
      <p>{{ .Date.Format "2006-01-02" }} &vert; {{ .WordCount }} words</p>
    </header>
    {{ .Content }}
    <footer>
      <p>
        {{ if .NextInSection }}
          &leftarrow;
          <a href="{{ .NextInSection.Permalink }}">{{ .NextInSection.Name }}</a>
        {{ end }}
        &vert;
        {{ if .PrevInSection }}
          <a href="{{ .PrevInSection.Permalink }}">{{ .PrevInSection.Name }}</a>
          &rightarrow;
        {{ end }}
      </p>
    </footer>
  </main>
{{ end }}
{{ define "footer" }}
  <hr />
  <nav>
    <a href="/topics/">Index</a> &vert;
    <a
      target="_blank"
      href="https://www.google.com/search?q=site%3Amarkpaulayers.com"
      >Search</a
    >
  </nav>
  <p><a href="/">&hellip;</a></p>
  <p>
    <a property="dct:title" rel="cc:attributionURL" href="{{ .RelPermalink }}"
      >{{ .Title }}</a
    >
    is &copy;{{ .Date.Format "2006" }} by
    <a
      property="cc:attributionName"
      rel="cc:attributionURL dct:creator"
      href="/about/"
      >Mark Ayers</a
    >
    and is licensed to you
    <a
      target="_blank"
      rel="license noopener noreferrer"
      style="display: inline-block"
      href="http://creativecommons.org/licenses/by/4.0/"
      >CC BY 4.0</a
    >.
    {{ if .GitInfo }}
      [<a href="https://github.com/philoserf/sandbox/tree/{{ .GitInfo.Hash }}"
        >{{ .GitInfo.AbbreviatedHash }}</a
      >]
    {{ end }}
  </p>
{{ end }}
